section.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
section.places > h1 {
	font-size: 30px;
	width: 100%;
}
section.places > article {
	display: flex;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	flex-direction: column;
}
section.places > article > .place-top {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
section.places > article .place-top div,
h2 {
	font-size: 30px;
	align-self: center;
}
section.places > article div.price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 100%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
section.places > article > .information {
	height: 80px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.places > article > .information div {
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 15px;
}
section.places > article > .information .max_guest {
	background: url("../images/icon_guests.png") center 10px no-repeat;
}
section.places > article > .information .number_rooms {
	background: url("../images/icon_bedrooms.png") center 10px no-repeat;
}
section.places > article > .information .number_bathrooms {
	background: url("../images/icon_bathrooms.png") center 10px no-repeat;
}
section.places > article > .user {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.amenities {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	margin-top: 40px;
}
.amenities > h2 {
	font-size: 16px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.amenities > ul {
	list-style: none;
	padding: 0;
}
.amenities > ul > li {
	padding: 10px 30px;
	box-sizing: border-box;
}
.amenities > ul > li.tva {
	background: url("../images/icon_tv.png") left center no-repeat;
	background-size: 20px;
}
.amenities > ul > li.wifia {
	background: url("../images/icon_wifi.png") left center no-repeat;
	background-size: 20px;
}
.amenities > ul > li.pfa {
	background: url("../images/icon_pets.png") left center no-repeat;
	background-size: 20px;
}
.reviews {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.reviews > h2 {
	font-size: 16px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}
.reviews > ul {
	list-style: none;
	padding: 0;
}
.reviews > ul h3 {
	font-size: 14px;
	margin: 0;
}
.reviews > ul p {
	font-size: 12px;
	margin: 0;
}
.reviews > ul > li {
	padding: 10px 0;
	box-sizing: border-box;
}
